<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="FemiliftDb"
      connectionString="Server=SQL8012.site4now.net;Database=db_aa7fdd_FemiliftAdmin;User Id=db_aa7fdd_femiliftadmin_admin;Password=E7zd9yjiMYW6ueax;"
      providerName="System.Data.SqlClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>
